client/node_modules/**
server/node_modules/**
server/node_modules/
client/node_modules/
server/dist/**
server/dist/
server/.env
server/nly-1.0.0.tgz
artifacts/server.tgz
artifacts/client.tgz
client/dist/**
client/client.tgz